{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'jb/style.css' %}" />


{% if userprofile %}
    <img src={{userprofile.photo}} id="profile"> 
    <h1>{{userprofile.user.first_name}} {{userprofile.user.last_name}}</h1>
    <h3>{{userprofile.user.email}}</h3>

    <form action="{% url 'jb:bunked' user1_id=5 user2_id=userprofile.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Bunk" />
    </form>

    <a href="{% url 'jb:index' %}">Go Back</a>

{% else %}
    <h1>Can't find information on such user :(</h1>
{% endif %}