td a {
    text-decoration: none;
}

h1#landing {
    text-align: center;
}

.table1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto
}

th {
    background: teal;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }


td a {color:black;}         /* Unvisited link  */
td a:visited {color:black;} /* Visited link    */
td a:hover {color:grey;}   /* Mouse over link */
td a:active {color:black;}  /* Selected link   */

img#profile {
    height: auto; 
    width: auto; 
    max-width: 10%; 
    max-height: 10%;
}

img#bunk {
    width: 100px;
    height: 100px;
}

div#item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

div#bunked_text {
    display: inline-block;
    text-align: center;
    width: 120px;
    vertical-align: middle;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  * {
    margin:0;
    padding:0;
    font-family: Tahoma;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  body{
    background-color: lightblue;
  }
  nav ul li a {
    color: #FFF;
    text-decoration: none;
  }
  /* End General */
  
  /* Start Navbar */
  nav ul {
    background-color: blue;
  }
  nav ul > li {
    padding: 15px;
    display: inline-block;
    transition: all .3s ease;
    margin-left: -5px
  }
  nav ul > li:not(:last-of-type):hover {
    background-color: #222
  }
  nav ul > li:first-of-type {
    background-color: #222
  }
  nav ul > li:last-of-type {
    float: right;
  }
  nav ul > li:last-of-type a .fa {
    font-size: 21px
  }
  /* End Navbar */
  
  /* Start Menue Right */
  nav ul > li:last-of-type {
    position: relative;
  }
  nav ul > ol {
    position: absolute;
    top: 49px;
    right: 0;
    background: #333;
    text-align: center;
    list-style: none;
    display: none
  }
  nav ul > ol > li {
    width: 100vw;
    color: #FFF;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s ease;
  }
  nav ul > ol > li:hover a {
    margin: 20px;
  }
  nav ul > ol > li:hover {
    background: pink;
    cursor: pointer
  }
  nav ul input {
    opacity: .7;
    padding: 5px;
    float: right;
    display: none
  }